In [1]:
import numpy as np
import pandas as pd

# import csv file into notebook

In [8]:
encoding = 'latin1'
company=pd.read_csv('Fortune 500 Companies US.csv', encoding=encoding)
#encountered UnicodeDecodeError. This error suggests that the file contains characters that cannot be decoded using the specified encoding.

In [10]:
company.head()

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
0,1,Walmart,"23,00,000",1.0,"$4,85,873",0.8%,"$13,643.0",-7.2%,"$1,98,825","$2,18,619"
1,2,Berkshire Hathaway,"3,67,700",4.0,"$2,23,604",6.1%,"$24,074.0",0.0%,"$6,20,854","$4,11,035"
2,3,Apple,"1,16,000",3.0,"$2,15,639",-7.7%,"$45,687.0",-14.4%,"$3,21,686","$7,53,718"
3,4,Exxon Mobil,"72,700",2.0,"$2,05,004",-16.7%,"$7,840.0",-51.5%,"$3,30,314","$3,40,056"
4,5,McKesson,"68,000",5.0,"$1,92,487",6.2%,"$2,258.0",53.0%,"$56,563","$31,439"

In [12]:
company.shape

(500, 10)

# analysis based on group by

In [14]:
company.groupby('Company Name')

In [15]:
len(company)

500

In [16]:
company.groupby('Assets')

In [17]:
group_by= company.groupby('Assets')

In [18]:
len('Rank')

4

In [19]:
group_by.size()

Assets
$1,00,245    1
$1,04,658    1
$1,08,610    1
$1,09,697    1
$1,12,180    1
            ..
$90,207      1
$92,033      1
$92,308      1
$94,462      1
$95,377      1
Length: 498, dtype: int64

In [20]:
group_by.first()

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Market Value
Assets,,,,,,,,,
"$1,00,245",99,Travelers Cos.,"30,900",105.0,"$27,625",3.1%,"$3,014.0",-12.4%,"$33,689"
"$1,04,658",329,Genworth Financial,"3,400",306.0,"$8,369",-9.5%,-$277.0,-,"$2,056"
"$1,08,610",84,Allstate,"43,275",81.0,"$36,534",2.5%,"$1,877.0",-13.5%,"$29,754"
"$1,09,697",145,Southern,"32,015",162.0,"$19,896",13.8%,"$2,448.0",3.4%,"$49,335"
"$1,12,180",81,Oracle,"1,36,000",77.0,"$37,047",-3.1%,"$8,901.0",-10.4%,"$1,83,556"
...,...,...,...,...,...,...,...,...,...
"$90,207",185,Synchrony Financial,"15,000",NaN,"$15,122",11.0%,"$2,251.0",1.7%,"$27,810"
"$92,033",52,Disney,"1,95,000",53.0,"$55,632",6.0%,"$9,391.0",12.0%,"$1,79,298"
"$92,308",277,Discover Financial Services,"15,549",283.0,"$10,497",4.9%,"$2,393.0",4.2%,"$26,255"
"$94,462",7,CVS Health,"2,04,000",7.0,"$1,77,526",15.8%,"$5,317.0",1.5%,"$81,310"
"$95,377",69,Merck,"68,000",72.0,"$39,807",0.8%,"$3,920.0",-11.8%,"$1,74,454"

In [23]:
company.columns

Index(['Rank', 'Company Name', 'Number of Employees', 'Previous Rank',
       'Revenues', 'Revenue Change', 'Profits', 'Profit Change', 'Assets',
       'Market Value'],
      dtype='object')